.form-select > section {
  margin-bottom: 1.5rem;
}

.editAddressForm > div{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 1rem;
grid-row-gap: 0px;
margin-bottom: 1.5rem;
}

@media screen and (max-width: 700px) {
  .editAddressForm > div{
    grid-template-columns: none;
    grid-template-rows: 1fr;
    grid-column-gap: 0rem;
    grid-row-gap: 0px;

  }
}