.wrapper-select {
  display: flex;
  flex-direction: column;
}

.inputSelect {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-input);
  background-color: #ffff;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.inputSelect:focus{
  border: 2px solid var(--border-input);
}

.wrapper-select small {
  color: var(--error-color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;

}

.error-input select{
  border-color: var(--error-color)
}

.wrapper-select label {
  font-size: 0.8rem;
}

.helper {
  font-size: 0.8rem;
  margin-bottom: 0!important;
}

.error-input {
  border-color: red;
}