.evote-candidate > h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.evote-candidate > p {
  margin-bottom: 1rem;
}

.evote-candidate > section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
border: 1px solid #EAEAEA;
padding: 1rem;

}
.cards-candidate {
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.cards-candidate {
  display: grid;
  grid-template-rows: 15rem 2rem minmax(5rem, auto) 0.3fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0.5rem;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  width: 18rem;
  height: 100%;
}
.cards-candidate > section:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/*.cards-candidate > section:nth-child(3) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}*/

.cards-candidate > section:nth-child(1) > h5 {
  justify-self: center;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
}

.cards-candidate > section:nth-child(4) > a {
  justify-self: center;
  font-size: 0.865rem;
  font-weight: 600;
  color: var(--primary-color);
}

.cards-candidate > section:nth-child(4) > a:hover {
  text-decoration: underline;
  
}

.imageCandidate {
  width: 13rem;
  height: 13rem  ;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*.cards-candidate > section {
  margin-bottom: 1rem;
}*/

.cards-candidate > section > blockquote {
  font-size: 0.865rem;
  font-style: italic;
  font-weight: 500;
}

.buttonVote {
  align-self: center;
}

@media screen and (max-width: 700px) {
  .cards-candidate > section:nth-child(1) > h5 {
    font-size: 2.5rem;
  }

  .evote-candidate > section {
    justify-content: center;
    }
    .evote-candidate > section {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 1rem;
    }

    .cards-candidate {
      justify-self: center;
    }
    
}

@media screen and (max-width: 400px) {
  .cards-candidate > section:nth-child(1) > h5 {
    font-size: 2.5rem;
  }
  .evote-candidate > section {
    border: none;
    padding: 0rem;
    
    }

    .evote-candidate > section {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0.5rem;

    }
}