.textArea textarea{
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-input);
  padding: 0.5rem 0.5rem;
  font-size: 0.856rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.textArea textarea:focus{
  border: 2px solid var(--border-input);
}

.textArea label {
  font-size: 0.8rem;
}

.textArea small {
  color: var(--error-color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.phone {
  margin-top: 1.3rem;
}

.error textarea{
  border-color: red;
}