

.evoteBefore{
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.evoteBefore > section:first-child {
  margin: 0 auto;
}

.evoteBefore > section > img {
  width: 20rem;
}

.evoteBefore > section > h4 {
  font-weight: normal;
  text-align: center;
  line-height: 3rem;
}



.evoteBefore > section > h4:last-child {
  font-weight: bold;
  font-size: 2rem;
}

.evoteAfter{
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.evoteAfter > section:first-child {
  margin: 0 auto;
}

.evoteAfter > section > img {
  width: 20rem;
}

.evoteAfter > section > h4 {
  font-weight: normal;
  text-align: center;
  line-height: 3rem;
}
.evoteAfter > section > h5 {
  font-weight: normal;
  text-align: center;
  line-height: 3rem;
}

.evoteAfter > section > h5 > a {
  color: blue;
  font-weight: 500;
  text-decoration: underline;
}

.evoteAfter > section > h4:first-child {
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .evoteBefore, .evoteAfter{
    padding: 0rem;
  }

  .evoteBefore > section > h4 {
    font-size: 0.9rem;
    line-height: 2rem;
    text-align:center;
}
.evoteBefore > section > h4:last-child {
  font-weight: bold;
  font-size: 1.2rem;
}
.evoteAfter > section > h5 {
  font-size: 0.865rem;
  line-height: 1.2rem;
  
}

.evoteAfter > section > h4 {
  line-height: 2rem;
}

.evoteAfter > section > h5 > a {
  font-size: 0.865rem;
}
}